<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SHIELD - Free Bootstrap 3 Theme">
    <meta name="author" content="Carlos Alvarez - Alvarez.is - blacktie.co">
  
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Praves Technologies</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/icomoon.css">
    <link href="/assets/animate-custom.css" rel="stylesheet">
    <link href="/assets/contact.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
    	<div>
     <a href = "/" class = "nav navbar-nav navbar-left"><%= image_tag("logo.png",size:"177x65", alt: "logo") %></a>
        </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          
          <!-- <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
			<li> <a href="#headerwrap" class="smoothScroll" style="margin-left: 10px;"> Home </a></li>
			<li> <a href="#about" class="smoothScroll"> About </a></li>
			<li> <a href="#services" class="smoothScroll"> Services </a></li>
			<li> <a href="#technologies" class="smoothScroll"> Technologies </a></li>
			<li> <a href="#clients" class="smoothScroll"> Clients </a></li>
			<li> <a href="#career" class="smoothScroll"> Career </a></li>
			<li> <a href="#community" class="smoothScroll"> Community </a></li>
			<li> <a href="#industries" class="smoothScroll"> Industries </a></li>
			<li> <a href="#contact" class="smoothScroll"> Contact </a></li>

			<li id="reg-id"><a target="_blank" class="regular-link" href="/static_pages/index" title="Next Section"><span class="icon icon-lock"></span> <span class="text">Register</span></a></li>
            <li id="login-id"><a target="_blank" class="regular-link" href="/static_pages/index" title="Next Section"><span class="icon icon-user"></span> <span class="text">Log In</span></a></li>
        </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
    </div>

  
  
		<!-- ==== HEADERWRAP ==== -->
	    
	        <div class="container" id="headerwrap" name="home">
               
                <div class="row white">
                	
			<header class="clearfix">
	  		 		<!-- <h1><span class="icon icon-shield"></span></h1>
	  		 		<p>A Bootstrap 3 One Page Theme.</p>
	  		 		<p>Exclusive for BlackTie.co.</p> -->
	  		</header>
	  		        
	  		    </div>   
	        </div>
	    

		<!-- ==== GREYWRAP ==== -->
		<div id="service_home">
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-3 callout">
					<%= image_tag("service_sap.png",size:"60x60", alt: "SAP Solutions") %>
					<a href="#"><h5>SAP Solutions & Consulting</h5></a>
				</div>
					
				<div class="col-lg-3 callout">
					<%= image_tag("service_software.png",size:"60x60", alt: "Software Testing") %>
					<a href="#"><h5>Software Testing & QA</h5></a>
				</div>
				
				<div class="col-lg-3 callout">
					<%= image_tag("service_mobile.png",size:"60x60", alt: "Mobile-App") %>
					<a href="#"><h5>Mobile Apps & Web Development</h5></a>
				</div>

				<div class="col-lg-3 callout">
					<%= image_tag("service_e_learning.png",size:"60x60", alt: "E-Learning") %>
					<a href="#"><h5>E-Learning & Classroom Training</h5></a>
				</div>

			</div>
		</div>   <!-- greywrap -->
	</div>
		
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br><br>
				<h1 class="centered">A LITTLE ABOUT OUR AGENCY</h1>
				<hr>
				
				<div align="justify" class="col-lg-6">
					<p>'PRAVES Technologies Ltd' is a Canada based company which provides services in SAP Consulting, Mobile App & Web Development, Software Testing and e-learning system development for businesses across the globe. We also have technical expertise in ‘Geographical Information Systems’ and ‘Data Analytics’. Our team of consultants and technologists always strive to achieve rational solutions to meet your business needs.”</p>
				</div><!-- col-lg-6 -->
				
				<div align="justify" class="col-lg-6">
					<p> We deliver corporate classroom training, online training as well as a ‘Technical Skill Upgrade’ program which is exclusively aimed at university students. We use innovative e-learning content and solutions, specifically designed to enhance effective learning. Our Mantra for growth is to deliver best of our knowledge and experience the right way, on time and on budget. We don’t believe in just building a software system for you, but strive to deliver you a solution after understanding your business problems and opportunities.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1" id="about_section_divider">
			<!-- <div class="container"> -->
				<h1>INTEGRITY. PEOPLE. PERFORMANCE.</h1>
				<hr>
				<p>You can rely on us for high quality of deliverable and successful implementation.</p>
			<!-- </div> --><!-- container -->
		</section><!-- section -->
		</div><!-- container -->
		
		<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			<br>
			<br><br><br>
			<div class="row">
				<h2 class="centered">OUR SERVICES</h2>
				<hr>
				<br>
				<div id="greywrap">
				<div class="row">
				<div class="col-lg-4 callout">
					<%= image_tag("service_sap.png",size:"60x60", alt: "SAP Solutions") %>
					<a href="#"><h3>SAP PRACTICES</h3></a>
				</div>
					
				<div class="col-lg-4 callout">
					<%= image_tag("service_mobile.png",size:"60x60", alt: "Mobile-App") %>
					<a href="#"><h3>MOBILE APP & WEB DEVELOPMENT</h3></a>
				</div>
				
				<div class="col-lg-4 callout">
					<%= image_tag("service_e_learning.png",size:"60x60", alt: "E-Learning") %>
					<a href="#"><h3>E-LEARNING CONTENT DEVELOPMENT</h3></a><br><br>
				</div>

				<div class="col-lg-4 callout">
					<%= image_tag("service_software.png",size:"60x60", alt: "Software Testing") %>
					<a href="#"><h3>SOFTWARE TESTING & QA</h3></a>
				</div>
					
				<div class="col-lg-4 callout">
					<%= image_tag("service_corporate.png",size:"60x60", alt: "Corporate Training") %>
					<a href="#"><h3>CORPORATE TRAINING</h3></a>
				</div>
				
				<div class="col-lg-4 callout">
					<%= image_tag("service_GIS.png",size:"60x60", alt: "GIS service") %>
					<a href="#"><h3>GIS SERVICE</h3></a><br>
				</div>
			</div>
			</div>
			</div><!-- row -->
			<br><br><br>
			<div class="row">
				<h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="/assets/iphone.png" alt="">
				</div><!-- col -->
			</div><!-- row -->
		
		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>DESIGN IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
			</div><!-- container -->
		</section><!-- section -->
		</div><!-- container -->

		<!-- ==== TECHNOLOGIES ==== -->
		<div class="container" id="technologies" name="technologies">
		<br><br><br><br>
			<div class="row">
				<h2 class="centered">TECHNOLOGIES</h2>
				<hr>
				<br>
				<div id="greywrap">
				<div class="row">
				<div class="col-lg-4 callout">
					<%= image_tag("service_sap.png",size:"60x60", alt: "SAP Solutions") %>
					<a href="#"><h3>SAP PRACTICES</h3></a>
				</div>
					
				<div class="col-lg-4 callout">
					<%= image_tag("techno_windows_ iphone_android.png",size:"60x60", alt: "Mobile-App") %>
					<a href="#"><h3>I-PHONE AND ANDROID PLATFORM</h3></a>
				</div>
				
				<div class="col-lg-4 callout">
					<%= image_tag("techno_adobe_captivate.png",size:"60x60", alt: "E-Learning") %>
					<a href="#"><h3>ADOBE CAPTIVATE</h3></a><br><br>
				</div>

				<div class="col-lg-7 callout">
					<%= image_tag("techno_softwarre_testing.png",size:"60x60", alt: "Software Testing") %>
					<a href="#"><h3>HP,RATIONAL TESTING TOOLS</h3></a>
				</div>
					
				<div class="col-lg-2 callout">
					<%= image_tag("techno_arcgis.png",size:"100x60", alt: "Corporate Training") %>
					<a href="#"><h3>ArcGIS TOOL</h3></a>
				</div>
				
			</div>
			</div>
			</div><!-- row -->
		<br>

     </div><!-- container -->

		<!-- ==== CLIENTS ==== -->
		<div class="container" id="clients" name="clients">
			
			<br><br><br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME CLIENTS</h1>
				<hr>
				<br>
				<br><br>
				<div class="col-lg-3 centered">
					<a href="http://www.spiriteinfosystem.com/" target = "_blank"><img class="img" src="/assets/clientlogo1.jpg" height="120px" width="160px" alt="">
					<br>
					<h5><b>SPIRITE INFOSYSTEM</b></h5></a>
					
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<a href="http://www.westworks.ca/" target="_blank"><img class="img" src="/assets/clientlogo2.jpg" height="120px" width="160px" alt="">
					<br>
					<h5><b>WEST WORKS</b></h5></a>
					<!-- <a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a> -->
	
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<a href="http://www.motileplus.com/" target="_blank"><img class="img" src="/assets/clientlogo3.jpg" height="120px" width="160px" alt="">
					<br>
					<h5><b>MOTILE PLUS</b></h5></a>
					
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<a href="http://www.altimetrik.com/" target="_blank"><img class="img" src="/assets/clientlogo4.png" height="120px" width="160px" alt="">
					<br>
					<h5><b>ALTIMETRIK</b></h5></a>
					
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->

       <section class="section-divider textdivider divider2">
			
				<h1>PERFORMANCE DELIVERED</h1>
				<hr>
				<p>We do not make deals, We build relations.  </p>
			
		</section><!-- section -->

		</div><!-- container -->

		<!-- ==== CAREER ==== -->
		<div class="container" id="career" name="career">
			<br><br><br>
			<br>
			<div class="row">
				<h2 class="centered">CAREER</h2>
				<hr>
				<br>

				

			</div><!-- row -->
			
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="/assets/career1.jpg" width="60px" height="60px"></p>
						<h4>Join Our Organization</h4>
						<!-- <h5>Published Aug 30.</h5> -->
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Apply Here</h2>
						
	<div class="full_form">    
    
    <!-- Form -->
  <form  action="" method="POST" enctype="multipart/form-data" id="contact-form" >
      <div>
        <label>
          <span>Name: *</span>
          <input placeholder="Enter your name" type="text" tabindex="1" pattern="[a-zA-Z. ]{1,50}" id="contact_name" name="contact[name]" required autofocus>
        </label>
      </div>
      <div>
        <label>
          <span>Email: *</span>
          <input placeholder="Enter your email address" type="email" tabindex="2" id="contact_email" name="contact[email]"  required>
        </label>
      </div>
      <div>
        <label>
          <span>Mobile: * </span>
          <input placeholder="Enter your mobile number" type="tel" tabindex="3" pattern="[0-9]{10}" maxlength="10" id="contact_phone" name="contact[phone]" required>
        </label>
      </div>

     <div>
        <label>
          <span>Qualification: *</span>
          <input placeholder="Enter the qualification" type="text" tabindex="4" pattern="[a-zA-Z. ]{1,50}" id="contact_qualification" name="contact[qualification]" required autofocus>
        </label>
      </div>
      <div>
        <label>
          <span>Upload Resume: *</span>
          <input placeholder="Upload a file" type="file" tabindex="5" pattern="[a-zA-Z. ]{1,50}" id="contact_file" name="contact[file]" required autofocus>
        </label>
      </div>
      <div>
        <button name="submit" type="submit" id="contact-submit" name="commit">Submit</button>
      </div>
  </form> 
    <!-- /Form -->
    
    
  </div>

  <script src="/assets/contact.js"></script>

						<!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
						<br>
					</div>
				</div><!-- /col -->
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="/assets/career2.png" width="60px" height="60px"></p>
						<h4>Current Job</h4>
						<!-- <h5>Published Aug 28.</h5> -->

					<br><br><br><br>
						<p><img class="img img-circle" src="/assets/career3.jpg" width="60px" height="60px"></p>
						<!-- <h4>Current Job</h4> -->
						<!-- <h5>Published Aug 28.</h5> -->
					
					</div>

					<div class="col-lg-8 blog-content">
						<h2>Lead Your Own Destiny</h2>
				<ul id="career_ul">                
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#SBC">SAP Basis Consultant</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#HR">SAP HR</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#SSAP">SAP Security Senior Consultant</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#BI">Senior Business Intelligence Developer–ArcGIS</a>
                </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#STQA">Software Testing and QA Analyst</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#BPC">SAP BPC Project Manager/Solution Architect</a>
                </li>
                </ul>

                       <H2>Working at PRAVES</H2>
                       <P>Praves Technologies builds strong relations with employees based on mutual trust and respect. Our strength lies in our highly skilled and motivated work force. We look forward to have people with talent, inspiration and sense of adventure for taking themselves and lead to company growth as well.
                       </P>
											<!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
						<br>
					</div>

				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			
		
		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>OPPORTUNITIES TO CLIMB GREATER HEIGHTS</h1>
				
			</div><!-- container -->
		</section><!-- section -->
		</div><!-- container -->


		
		<!-- ==== COMMUNITY ==== -->
		<div class="container" id="community" name="community">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE CREATE COOL STUFF</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="/assets/team/team04.jpg" width="60px" height="60px"></p>
						<h4>Jaye Smith</h4>
						<h5>Published Aug 30.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>We Define Success</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="/assets/team/team03.jpg" width="60px" height="60px"></p>
						<h4>Michele Lampa</h4>
						<h5>Published Aug 28.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>A Beautiful Story</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
			</div><!-- /row -->
			
				
			<br>
			<br>
		
	

		<!-- ==== SECTION DIVIDER4 ==== -->
		<section class="section-divider textdivider divider4">
			<div class="container">
				<h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
				<hr>
				<p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
			</div><!-- container -->
		</section><!-- section -->
	</div><!-- /container -->

		<!-- ==== INDUSTRIES ==== -->
		<div class="container" id="industries" name="industries">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">INDUSTRIES</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			
			<div class="row">	
			
				
				
				
						 <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->
						      
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Project Title</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="/assets/industry_investment_banking.jpg" alt=""></p>
						          <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
						          <p><b><a href="#">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_oil_gas.jpg" alt="">
							<figcaption>
								<h5>DASHBOARD</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_investment_banking.jpg" alt="">
							<figcaption>
								<h5>UI DESIGN</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_insurance.jpg" alt="">
							<figcaption>
								<h5>ANDROID PAGE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_data_analytics.jpg" alt="">
							<figcaption>
								<h5>PROFILE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_hr_firms.jpg" alt="">
							<figcaption>
								<h5>TWITTER STATUS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_education_industry.jpg" alt="">
							<figcaption>
								<h5>PHONE MOCKUP</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
			<br>
			<br>
		
		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1>CRAFTED IN NEW YORK, USA.</h1>
				<hr>
				<p>Some Address 987,</p>
				<p>+34 9884 4893</p>
				<p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
			</div><!-- container -->
		</section><!-- section -->
	</div><!-- /container -->
		

		<!-- ==== CONTACT ==== -->

		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p><span class="icon icon-home"></span> <b>Address 1</b><br> 
					Bankers Hall, West Tower
					10th Floor, 888-3 Street SW
					Calgary, AB T2P 5C5
					Canada.<br/>
						<span class="icon icon-home"></span><b>Address 2</b><br>
					Sun Life Plaza, West Tower
					144-4 Avenue SW, Suite 1600
					Calgary, AB T2P 3N4
					Canada. 
						<span class="icon icon-phone"></span> +14034620868  <br/>
						<!-- <span class="icon icon-mobile"></span> +34 59855 9853 <br/> -->
						<span class="icon icon-envelop"></span> <a href="#"> email@pravestech.ca</a> <br/>
						<span class="icon icon-twitter"></span> <a href="#"> twitter </a> <br/>
						<span class="icon icon-facebook"></span> <a href="https://www.facebook.com/PravesTechnologies">Praves Technologies</a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Reach Us</h3>
					<p>Contact Us to know more about us and to get our quote.</p>
					<p>
	<div class="full_form">    
    
    <!-- Form -->
  <form  action="" method="POST" enctype="multipart/form-data" id="contact-form" >
      <div>
        <label>
          <span>Name: *</span>
          <input placeholder="Enter your name" type="text" tabindex="1" pattern="[a-zA-Z. ]{1,50}" id="contact_name" name="contact[name]" required autofocus>
        </label>
      </div>
      <div>
        <label>
          <span>Email: *</span>
          <input placeholder="Enter your email address" type="email" tabindex="2" id="contact_email" name="contact[email]"  required>
        </label>
      </div>
      <div>
        <label>
          <span>Mobile: * </span>
          <input placeholder="Enter your mobile number" type="tel" tabindex="3" pattern="[0-9]{10}" maxlength="10" id="contact_phone" name="contact[phone]" required>
        </label>
      </div>

      <div>
        <label>
          <span>Message:</span>
          <textarea placeholder="Include all the details you can" tabindex="4" name="contact[message]" id="contact_message" ></textarea>
        </label>
      </div>
      <div>
        <button name="submit" type="submit" id="contact-submit" name="commit">Submit</button>
      </div>
  </form> 
    <!-- /Form -->
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Support Us</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4> <a href="/">Praves Technologies Ltd.</a> - Copyright &copy; 2014</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/retina.js"></script>
	<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/smoothscroll.js"></script>
	
  </body>
</html>
