<!DOCTYPE html>
<html lang="en">
  

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
  	<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
    	
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span>  <%= image_tag("favicon.ico", size:"45x45",  alt: "logo") %></span>
          </button>
          
          <a id="navbar_logo" class="navbar-brand hidden-xs hidden-sm" href="/"><span>  <%= image_tag("favicon.ico", size:"45x45",  alt: "logo") %></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">            
			<li> <a href="#headerwrap" class="smoothScroll"> Home </a></li>
			<li> <a href="#about" class="smoothScroll"> About </a></li>
			<li> <a href="#services" class="smoothScroll"> Services </a></li>
			<li> <a href="#technologies" class="smoothScroll"> Technologies </a></li>
			<li> <a href="#clients" class="smoothScroll"> Clients </a></li>
			<li> <a href="#career" class="smoothScroll"> Career </a></li>
			<li> <a href="#industries" class="smoothScroll"> Industries </a></li>
			<li> <a href="#contact" class="smoothScroll"> Contact </a></li>

			<li><a target="_blank" class="regular-link"  href="/static_pages/index" title="Next Section" style="
    margin-left: 10em;"><span class="icon icon-lock"></span> <span class="text">Register</span></a></li>
            <li><a target="_blank" class="regular-link"  href="/static_pages/index" title="Next Section"><span class="icon icon-user"></span> <span class="text">Log In</span></a></li>
        </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
    </div>

  
  
<!-- ==== HEADERWRAP  OR HOME ==== -->
	    
	        <div class="container" id="headerwrap" name="headerwrap">
               
                <div class="row white">
                	
			<header class="clearfix">
	  	<h1><span><br><a href = "/"><%= image_tag("logo.png",size:"283x104", alt: "logo", class: 'img-responsive') %></a></span></h1>

	  		 		<p>Solutions for all kind of Businesses, any size, anywhere with Mobile App & Responsive Web Design.</p>
	  		 		
	  		</header>
	  		        
	  		    </div>   
	        </div>
	    

		
		
		
<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br><br>
				<h1 class="centered">A LITTLE ABOUT US</h1>
				<hr>
				
				<div align="justify" class="col-lg-6">
					<p>'PRAVES Technologies Ltd' is a Canada based company which provides services in SAP Consulting, Mobile App & Web Development, Software Testing and e-learning system development for businesses across the globe. We also have technical expertise in ‘Geographical Information Systems’ and ‘Data Analytics’. Our team of consultants and technologists always strive to achieve rational solutions to meet your business needs.”</p>
				</div><!-- col-lg-6 -->
				
				<div align="justify" class="col-lg-6">
					<p> We deliver corporate classroom training, online training as well as a ‘Technical Skill Upgrade’ program which is exclusively aimed at university students. We use innovative e-learning content and solutions, specifically designed to enhance effective learning. Our Mantra for growth is to deliver best of our knowledge and experience the right way, on time and on budget. We don’t believe in just building a software system for you, but strive to deliver you a solution after understanding your business problems and opportunities.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		
		</div><!-- container -->
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1" id="about_section_divider">
			<!-- <div class="container"> -->
				<h1>INTEGRITY. PEOPLE. PERFORMANCE.</h1>
				<hr>
				<p><b>We have the solution to all your business problems.</b></p>
			<!-- </div> --><!-- container -->
		</section><!-- section -->
		
		
<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			<br>
			<br><br><br>
			<div class="row">
				<h2 class="centered">OUR SERVICES</h2>
				<hr>
				<br>
				<div id="greywrap">
				<div class="row">
				<div class="col-lg-4 callout" id="greywrap_link">
					<a href="static_pages/services"><i class="back_effect">
					<%= image_tag("service_responsive_design.png",size:"80x60", alt: "Responsive Web Design" , class: 'img-responsive') %></i>
					<h4>Responsive Web Design and Development</h4></a>
				</div>
					
				<div class="col-lg-4 callout" id="greywrap_link">
					<a href="static_pages/services#mobile"><i class="back_effect">
					<%= image_tag("service_graphics.png",size:"60x60", alt: "Graphic Design" , class: 'img-responsive') %></i>
					<h4>Graphic Design and Development</h4></a>
				</div>
				
				<div class="col-lg-4 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("service_mobile.png",size:"60x60", alt: "Mobile App Development" , class: 'img-responsive') %></i>
					<h4>Mobile App Development (iOS and Android)</h4></a>
				</div>

				<div class="col-lg-4 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("service_software.png",size:"60x60", alt: "Software Development" , class: 'img-responsive') %></i>
					<h4>Custom Software Development</h4></a>
				</div>
					
				<div class="col-lg-4 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("service_mobile_marketing.png",size:"60x60", alt: "Mobile Marketing" , class: 'img-responsive') %></i>
					<h4>Mobile Marketing and Solutions</h4></a>
				</div>
				
				<div class="col-lg-4 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("service_webapp.png",size:"60x60", alt: "Web App Development" , class: 'img-responsive') %></i>
					<h4>WebApp Development</h4></a><br>
				</div>
			</div>
			</div>
			</div><!-- row -->
			<br><br><br>
			<!-- <div class="row">
				<h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="/assets/iphone.png" alt="">
				</div>
			</div> -->

			<!-- row -->
		</div><!-- container -->
		<!-- ==== SECTION DIVIDER2 -->
		 <section class="img-responsive section-divider textdivider divider2">
			<div class="container">
				<h1>WE ARE HERE TO PROVIDE EXPERTISE</h1>
				<hr><br>
				<p><b>We don’t believe in just building a software system, but we strive to deliver you a solution.</b></p>
			</div>
		</section> <!-- section -->
		

<!-- ==== TECHNOLOGIES ==== -->
		<div class="container" id="technologies" name="technologies">
		<br><br><br><br>
			<div class="row">
				<h2 class="centered">TECHNOLOGIES</h2>
				<hr>
				<br>
				<div id="greywrap">
				<div class="row">
				<div class="col-lg-3 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("techno_windows_ iphone_android.png",size:"60x60", alt: "Mobile-App" , class: 'img-responsive') %></i>
					<h3>Mobile:</h3><h5> iOS and Android</h5></a>
				</div>
					
				<div class="col-lg-3 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("techno_cloud.png",size:"60x60", alt: "Cloud Platforms" , class: 'img-responsive') %></i>
					<h3>Cloud Platforms:</h3><h5> Google Cloud, Amazon Web Services, Windows Azure and more</h5></a>
				</div>
				
				<div class="col-lg-3 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("techno_web-tech.png",size:"60x60", alt: "Web Technologies" , class: 'img-responsive') %></i>
					<h3>Web Technologies: </h3><h5>HTML5, CSS3, PHP Framework, NodeJS, Microsoft ,NET</h5></a>
				</div>

				<div class="col-lg-3 callout" id="greywrap_link">
					<a href="#"><i class="back_effect">
					<%= image_tag("techno_web_cms.png",size:"60x60", alt: "Web CSM" , class: 'img-responsive') %></i>
					<h3>Web CMS:</h3><h5> Wordpress, Joomla, Drupal</h5></a>
				</div>					
				
			</div>
			</div>
			</div><!-- row -->

     </div><!-- container -->
     <!-- ==== SECTION DIVIDER3 -->
		 <section class="section-divider textdivider divider3">
			<div class="container">
				<h1>INNOVATIVE TECHNOLOGY SOLUTIONS</h1>
				<hr>
				<p><b>You can rely on us for high quality of deliverable and successful implementation.</b></p>
			</div>
		</section> <!-- section -->

<!-- ==== CLIENTS ==== -->
		<div class="container" id="clients" name="clients">
			
			<br><br><br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME CLIENTS</h1>
				<hr>
				<br>
				<br><br>
				<div class="col-lg-3 centered">
					<a href="http://www.spiriteinfosystem.com/" target = "_blank"><img class="img img-responsive" src="/assets/clientlogo1.jpg" height="120px" width="160px" alt="">
					<h5><b>SPIRITE INFOSYSTEM</b></h5></a>
					
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<a href="http://www.westworks.ca/" target="_blank"><img class="img img-responsive" src="/assets/clientlogo2.jpg" height="120px" width="160px" alt="">
					<h5><b>WEST WORKS</b></h5></a>
					<!-- <a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a> -->
	
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<a href="http://www.motileplus.com/" target="_blank"><img class="img img-responsive" src="/assets/clientlogo3.jpg" height="120px" width="160px" alt="">
					<h5><b>MOTILE PLUS</b></h5></a>
					
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<a href="http://www.altimetrik.com/" target="_blank"><img class="img img-responsive" src="/assets/clientlogo4.png" height="120px" width="160px" alt="">
					<h5><b>ALTIMETRIK</b></h5></a>
					
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
          </div><!-- container -->

          <!-- ==== SECTION DIVIDER4 -->
       <section class="section-divider textdivider divider4">
			
				<h1>PERFORMANCE DELIVERED</h1>
				<hr>
				<p><b>We do not make deals, We build relations.</b></p>
			
		</section><!-- section -->

		

<!-- ==== CAREER ==== -->
		<div class="container" id="career" name="career">
			<br><br><br>
			<br>
			<div class="row">
				<h2 class="centered">CAREER</h2>
				<hr>
				<br>
			</div><!-- row -->

			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="/assets/career1.jpg" width="60px" height="60px"></p>
						<h4>Join Our Organization</h4>
						<!-- <h5>Published Aug 30.</h5> -->
					</div>

					<div class="col-lg-8 blog-content">
						<h2>Apply Here</h2>     
    <!-- Form -->
  			<form  action="" method="POST" enctype="multipart/form-data" id="contact-form" >
      			<div>
        			<label>
          			<span>Name: *</span>
          			<input placeholder="Enter your name" type="text" tabindex="1" pattern="[a-zA-Z. ]{1,50}" id="contact_name" name="contact[name]" required >
        			</label>
      			</div>
      			<div>
        			<label>
          			<span>Email: *</span>
          			<input placeholder="Enter your email address" type="email" tabindex="2" id="contact_email" name="contact[email]"  required>
        			</label>
      			</div>
      			<div>
        			<label>
          			<span>Mobile: * </span>
          			<input placeholder="Enter your mobile number" type="tel" tabindex="3" pattern="[0-9]{10}" maxlength="10" id="contact_phone" name="contact[phone]" required>
        			</label>
      			</div>
     			<div>
        			<label>
          			<span>Qualification: *</span>
          			<input placeholder="Enter the qualification" type="text" tabindex="4" pattern="[a-zA-Z. ]{1,50}" id="contact_qualification" name="contact[qualification]" required>
        			</label>
      			</div>
      			<div>
        			<label>
          			<span>Upload Resume: *</span>
          			<input placeholder="Upload a file" type="file" tabindex="5" pattern="[a-zA-Z. ]{1,50}" id="contact_file" name="contact[file]" required>
        			</label>
      			</div>
      			<div>
        			<button name="submit" type="submit" id="contact-submit" name="commit">Submit</button>
      			</div>
  			</form> 
    <!-- /Form -->
						<!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
						<br>
					</div>
				</div><!-- /col -->
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="/assets/career2.png" width="60px" height="60px"></p>
						<h4>Current Jobs</h4>
						<!-- <h5>Published Aug 28.</h5> -->

					<br><br><br><br>
						<p><img class="img img-circle" src="/assets/career3.jpg" width="60px" height="60px"></p>
						<!-- <h4>Current Job</h4> -->
						<!-- <h5>Published Aug 28.</h5> -->
					
					</div>

					<div class="col-lg-8 blog-content">
						<h2>Lead Your Own Destiny</h2>
				<ul id="career_ul">                
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#SBC">SAP Basis Consultant</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#HR">SAP HR</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#SSAP">SAP Security Senior Consultant</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#BI">Senior Business Intelligence Developer–ArcGIS</a>
                </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#STQA">Software Testing and QA Analyst</a> </li>
                <li><a href="http://www.pravestech.ca/CareerDetail.aspx#BPC">SAP BPC Project Manager/Solution Architect</a>
                </li>
                </ul>

                       <H2>Working at PRAVES</H2>
                       <P>Praves Technologies builds strong relations with employees based on mutual trust and respect. Our strength lies in our highly skilled and motivated work force. We look forward to have people with talent, inspiration and sense of adventure for taking themselves and lead to company growth as well.
                       </P>
											<!-- <p><a href="#" class="icon icon-link"> Read More</a></p> -->
						<br><br>
					</div>

				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER5 -->
		<section class="section-divider textdivider divider5">
			<!-- <div class="container">
				<br><br><br><br><br><br> -->
				<h1>OPPORTUNITIES TO CLIMB GREATER HEIGHTS</h1>
				<hr>
				<P><b>Lets work together and explore opportunities.</b></P>
			<!-- </div> --><!-- container -->
		</section><!-- section -->
		

		<!-- ==== INDUSTRIES ==== -->
		<div class="container" id="industries" name="industries">
		<br><br><br>

			<div class="row">
				<br>
				<h1 class="centered">INDUSTRIES</h1>
				<hr>
				<br>
				
			</div><!-- /row -->
			
			<P>Our experienced professionals come from multiple industrial domains. They have worked globally and understand the nuances of offshore-onshore model, delivery approaches, cultural sensitivities. Our software professionals have experience working in following various Industries like:</P>
			<div class="row">	
						
				
						 <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->
						      
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Project Title</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="/assets/industry_investment_banking.jpg" alt=""></p>
						          <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
						          <p><b><a href="#">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_oil_gas.jpg" alt="">
							<figcaption>
								<h5>OIL AND GAS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_investment_banking.jpg" alt="">
							<figcaption>
								<h5>INVESTMENT BANKING</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_insurance.jpg" alt="">
							<figcaption>
								<h5>INSURANCE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_data_analytics.jpg" alt="">
							<figcaption>
								<h5>DATA ANALYTICS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_hr_firms.jpg" alt="">
							<figcaption>
								<h5>HR FIRMS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/industry_education_industry.jpg" alt="">
							<figcaption>
								<h5>EDUCATION INDUSTRY</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
			<br>
			<br>
		
		
	         </div><!-- /container -->
		

<!-- ==== CONTACT ==== -->

		<div class="container" id="contact" name="contact">
			<div class="row">
			<br><br><br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<div class="col-lg-4">
					<h4>Contact Information</h4>
					<p>
					<span class="icon icon-home"></span><b>Address</b><br>
					Sun Life Plaza, West Tower
					144-4 Avenue SW, Suite 1600
					Calgary, AB T2P 3N4
					Canada.<br> 
					<span class="icon icon-phone"></span> +14034620868  <br/>
					<!-- <span class="icon icon-mobile"></span> +34 59855 9853 <br/> -->
					<span class="icon icon-envelop"></span> email@pravestech.ca <br/>
					
					<a target="_blank" href="https://www.linkedin.com/company/praves-technologies-ltd-?"><span id="logo_in"><%= image_tag("logo_linkedin.png", alt: "LinkedIn") %></span> </a>
					
					<a target="_blank" href="https://www.facebook.com/PravesTechnologies"><span id="logo_fb"><%= image_tag("logo_facebook.png", alt: "Facebook") %></span> </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h4>Reach Us</h4>
					<p><b>Contact Us to know more about us and to get our quote.</b></p>
					
	<div id="full_form">    
    
    <!-- Form -->
  <form  action="" method="POST" enctype="multipart/form-data" id="contact-form" >
      <div>
        <label>
          <span>Name: *</span>
          <input placeholder="Enter your name" type="text" tabindex="1" pattern="[a-zA-Z. ]{1,50}" id="contact_name" name="contact[name]" required>
        </label>
      </div>
      <div>
        <label>
          <span>Email: *</span>
          <input placeholder="Enter your email address" type="email" tabindex="2" id="contact_email" name="contact[email]"  required>
        </label>
      </div>
      <div>
        <label>
          <span>Mobile: * </span>
          <input placeholder="Enter your mobile number" type="tel" tabindex="3" pattern="[0-9]{10}" maxlength="10" id="contact_phone" name="contact[phone]" required>
        </label>
      </div>

      <div>
        <label>
          <span>Message:</span>
          <textarea placeholder="Include all the details you can" tabindex="4" name="contact[message]" id="contact_message" ></textarea>
        </label>
      </div>
      <div>
        <button name="submit" type="submit" id="contact-submit" name="commit">Submit</button>
      </div>
  </form> 
    <!-- /Form -->
					</div>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h4>Our Location</h4>
					<p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1254.1610603064853!2d-114.0692075!3d51.0471397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ba24dbae70547bd!2sPRAVES+Technologies+Ltd.!5e0!3m2!1sen!2sin!4v1406119267342" width="400" height="300" frameborder="0" style="border:0"></iframe></p>
				</div><!-- col -->

			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== SECTION DIVIDER8 ==== -->
		<section class="section-divider textdivider divider8">
			<!-- <div class="container"> -->
				<h1>SITUATED IN CALGARY, CANADA.</h1>
				<hr>
				<p><b>Sun Life Plaza, West Tower, 144-4 Avenue SW, Suite 1600, Calgary<b></p>
				<p><b><span class="icon icon-phone">+14034620868</span><b></p>
			<!-- </div> --><!-- container -->
		</section><!-- section -->

		

		

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/retina.js"></script>
	<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/smoothscroll.js"></script>
    <script type="text/javascript" src="/assets/jquery-func.js"></script>
    <script type="text/javascript" src="/assets/contact.js"></script>

	
  </body>
</html>
