<!DOCTYPE html>
<html lang="en">
  <head>  
  </head>
  <body style="background: #9DAAAF">
  	<div id="service_head">

		<div class="bs-example bs-example-tabs">    

    		<div class="row" align="center">
				<div class="col-lg-2 callout" id="service_link">
					<%= image_tag("service_responsive_design.png",size:"50x50", alt: "Responsive Web Design") %>
					<a href="#sap" data-toggle="tab" class="active" style="background:#9EA9A9;"><h4>Responsive Web Design and Development</h4></a>
				</div>
					
				<div class="col-lg-2 callout" id="service_link">
					<%= image_tag("service_graphics.png",size:"50x50", alt: "Graphic Design") %>
					<a href="#mobile" data-toggle="tab" style="background:#9EA9A9;"><h4>Graphic Design and Development</h4></a>
				</div>
				
				<div class="col-lg-2 callout" id="service_link">
					<%= image_tag("service_mobile.png",size:"50x50", alt: "Mobile App Development") %>
					<a href="#e-lerning" data-toggle="tab" style="background:#9EA9A9;"><h4>Mobile App Development (iOS and Android)</h4></a><br><br>
				</div>

				<div class="col-lg-2 callout" id="service_link">
					<%= image_tag("service_software.png",size:"50x50", alt: "Software Development") %>				
					<a href="#software" data-toggle="tab" style="background:#9EA9A9;"><h4>Custom Software Development</h4></a>
				</div>
					
				<div class="col-lg-2 callout" id="service_link">
					<%= image_tag("service_mobile_marketing.png",size:"50x50", alt: "Mobile Marketing") %>					
					<a href="#training" data-toggle="tab" style="background:#9EA9A9;"><h4>Mobile Marketing and Solutions</h4></a>
				</div>
				
				<div class="col-lg-2 callout" id="service_link">
					<%= image_tag("service_webapp.png",size:"50x50", alt: "Web App Development") %>
					<a href="#gis" data-toggle="tab" style="background:#9EA9A9;"><h4>WebApp Development</h4></a><br>
				</div>
			</div>
			</div>
	</div>

	<div id="service_content">
			<div class="bs-example bs-example-tabs">
    			<div class="tab-content">
      
<!-- SAP Consulting Services -->

      				<div class="tab-pane fade" id="sap">
      					<div class="container">
      	<h3>SAP Consulting Services</h3>
		<p>
		SAP ERP is proven to help companies of all sizes run better. The Enterprise Resource Planning (ERP) software application from SAP helps to improve productivity and operational efficiency of business processes. SAP, (Systems, Applications, and Products in Data Processing) has been a growing industry leader in IT solution development since 1972.</p>

		<h4>Our SAP Business ERP Capabilities:</h4>
		<li>Human Capital Management</li>
		<li>Security</li>
		<li>Plant Maintenance</li>
		<li>Business Intelligence</li>
		<li>Manufacturing and Distribution</li><br>

		<p>We help our clients adopt and extend technology to drive business change and achieve their business goals. We offer following services in ERP implementation:

		<li>Business Process Analysis and Design</li>
		<li>Functional Consulting</li>
		<li>Technical Development</li>
		<li>Industry Expertise</li>
		<li>Change Management</li>
		<li>Project Management</li>
		<li>System Implementation</li>
		<li>Upgrades and Migration Services</li>
		<li>Staff Augmentation</li></p> <br>

		<p><b>We are the technology solutions partner with Altimetrik in Canadian market. Altimetrik is one of the market leaders in Mobile Applications, SAP Mobility Solutions and cloud services consulting and development.</b>Our consultants possess the required expertise; experience and vision to help you successfully manage your business transformation with technology at the center. We offer Project Management Services, Business Intelligence Services, BPM and BPC services that are vertical-specific and tailored to your needs.</p>

		<b>BPM:</b><br>

		<p>Our BPM offerings provides you with the agility you require to easily embed new business rules in business processes, increasing their independence to create solutions while ensuring compliance. Enteg’s solutions will also enable our customers to encapsulate business rules as enterprise services that are independent of applications.</p>

		<b>BPC:</b>

		<p>BPC is everything an organization needs to meet its financial and operational planning requirements, consolidation and reporting, all of which is now available through a single application and user interface. SAP BPC will help your organization achieve a unified process that will allow you to better plan, manage and improve performance. Better alignment of objectives, plans and tactics, improved decision-making and importantly, improved execution of organization.</p><br><br>
      					</div>
      				</div>
      				<div class="tab-pane fade" id="mobile"> 
						<div class="container"> 
	   						<h3>Mobile App & Web Development</h3>
	   						<h4>Mobile App</h4>
	   						<p> By the end of 2014,there will be more mobile devices on Earth than people. So, not having a mobile optimized website is like closing your store one day each week. Thats why WE help you to Break barrier between you and your customers by providing Mobile Apps according to your demand. </p>
	   						<h4>Web Development</h4>
	   						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis egestas lorem in adipiscing. Morbi semper congue dui id venenatis. Etiam augue orci, vestibulum sit amet libero sed, venenatis vestibulum lacus. Nullam vel tortor et turpis congue blandit. Duis ac erat vulputate, pellentesque turpis ut, pulvinar ligula. Nulla ut quam sit amet massa condimentum molestie ac a mauris. Quisque semper ac est quis convallis. Ut semper ornare neque ut bibendum. Nam eget tortor porttitor, aliquet massa et, commodo ligula. Morbi ut diam arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut lobortis felis vitae nisl interdum, non euismod est ullamcorper. In varius in velit vitae ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet eleifend velit, ornare suscipit nulla. Ut at leo nec dolor tempus volutpat.
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur egestas, nulla id consectetur dapibus, massa erat vulputate dui, non tempus enim urna in sapien. Quisque eget bibendum orci. Maecenas luctus cursus urna, vel venenatis dui cursus nec. Ut ipsum odio, venenatis in dui a, imperdiet fringilla eros. Ut eleifend felis non feugiat viverra. Suspendisse elementum, nisi in mollis bibendum, sem metus commodo lacus, et pulvinar purus neque aliquam libero. Fusce id sagittis nisi. Curabitur mauris risus, euismod non leo non, lobortis commodo eros. Praesent eget neque sed nisi tempor scelerisque ut ut arcu. Fusce elementum sem vitae leo interdum placerat. Vivamus dapibus molestie risus, a commodo tortor rutrum vitae</p>
    					</div>
					</div>
					<div class="tab-pane fade" id="e-lerning"> 
						<div class="container"> 
	   	<h3>E-Learning Content Development</h3>
		
		<p>We develop innovative web- computer- and smart phone based training to effectively engage and educate your teams. We tailor each project team of instructional designers, content developers, and media technologists to match your unique requirements. Whether developing new content or repurposing existing course material with the latest multimedia applications –we help you reduce job-related costs and accelerate people performance.</p>

		<img class="img-responsive" src="/assets/static_service_elearning.jpg" alt="E-learning">
    					</div>
					</div>
					<div class="tab-pane fade" id="software"> 
						<div class="container"> 
		<h3>Software Testing & Quality Assurance</h3>	   						

		<p>We realize that not all teams have the time or the resources to thoroughly test their software before it is released. Often there is also a desire to have an independent panel of experts put a product through its paces, identifying various issues before they are reported by actual users.</p>

		<p>Our testing team has an independent mandate to ensure world-class testing services irrespective of whether our team has developed the software that's being tested or there's another group of developers behind the production.</p>

		<h4>Our software testing expertise includes:</h4>
		<li>Manual Testing</li>
		<li>Compatibility Testing</li>
		<li>Platform Testing</li>
		<li>Test Automation</li>
		<li>Integration Testing</li><br>

		<h4>Our software testing & QA services include:</h4>

		<li>Requirement Traceability Analysis</li>
		<li>Test Coverage Analysis</li>
		<li>Mobile Testing</li>
		<li>Client Server Application Testing</li>
		<li>Web Application Testing</li>
		<li>Regression Testing</li><br><br>


    					</div>
					</div>
					<div class="tab-pane fade in active" id="training"> 
						<div class="container"> 
	   	<h3>Classroom & E-Learning Training On Technology</h3>
		<p>Currently we are offering training on following modules: <a href="#" style="margin-left:45%" >Enroll Here For Training</a></p>

			<div class="row">
				<div class="col-lg-4 callout">
					<div class="list-group">
					  <a href="#" class="list-group-item list-group-item-danger">Cloud Technologies</a>
					  <a href="#" class="list-group-item list-group-item-warning">SalesForce CRM</a>
					  <a href="#" class="list-group-item list-group-item-warning">WorkDay HCM</a>
					  <a  class="list-group-item list-group-item-warning">&nbsp</a>
					  <a  class="list-group-item list-group-item-warning">&nbsp</a>
					</div>					
				</div>
					
				<div class="col-lg-4 callout">
				<div class="list-group">
  					<a href="#" class="list-group-item list-group-item-danger">Software Tesing & Quality Assurance</a>
  					<a href="#" class="list-group-item list-group-item-warning">Software Testing Training</a>
  					<a href="#" class="list-group-item list-group-item-warning">HP Quality Center</a>
  					<a href="#" class="list-group-item list-group-item-warning">ISTQB Certifications</a>
  					<a href="#" class="list-group-item list-group-item-warning">Quick Test Professional</a>
				</div>
				</div>
				
				<div class="col-lg-4 callout">
					<div class="list-group">
					  <a href="#" class="list-group-item list-group-item-danger">Networking</a>
					  <a href="#" class="list-group-item list-group-item-warning">CompTIA A+ Certification</a>
					  <a href="#" class="list-group-item list-group-item-warning">CompTIA N+ Certification</a>
					  <a href="#" class="list-group-item list-group-item-warning">Network Analyst Training</a>
					  <a  class="list-group-item list-group-item-warning">&nbsp</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 callout">
					<div class="list-group">
					  <a href="#" class="list-group-item list-group-item-success">SAP</a>
					  <a href="#" class="list-group-item list-group-item-info">SAP Functional Modules
<font size="1"><b>(BPC,HANA, BI, CRM,MM)</b></font></a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>

					</div>					
				</div>
				<div class="col-lg-4 callout">
					<div class="list-group">
					  <a href="#" class="list-group-item list-group-item-success">Mobile Apps</a>
					  <a href="#" class="list-group-item list-group-item-info">I-OS Platform</a>
					  <a href="#" class="list-group-item list-group-item-info">Android Platform</a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>
					  <a  class="list-group-item list-group-item-info">&nbsp</a>

					</div>					
				</div>
				<div class="col-lg-4 callout">
					<div class="list-group">
					  <a href="#" class="list-group-item list-group-item-success">Other IT Training</a>
					  <a href="#" class="list-group-item list-group-item-info">Windows Administration Training</a>
					  <a href="#" class="list-group-item list-group-item-info">Helpdesk Analyst Training</a>
					  <a href="#" class="list-group-item list-group-item-info">Desktop Support Analyst Training</a>
					  <a href="#" class="list-group-item list-group-item-info">Basics of Software Project Management</a>
					  <a href="#" class="list-group-item list-group-item-info">Win Runner</a>
					</div>					
				</div>
			</div>

    					</div>
					</div>
					<div class="tab-pane fade" id="gis"> 
						<div class="container"> 

		<h3>Geographical Information System Services</h3>

		<p>A <b>geographic information system</b> (GIS) is a system designed to capture, store, manipulate, analyze, manage, and present all types of geographical data. The acronym GIS is sometimes used for geographical information science or geospatial information studies to refer to the academic discipline or career of working with geographic information systems. In the simplest terms, GIS is the merging of cartography, statistical analysis, and database technology.</p>

		<p>GIS is a relatively broad term that can refer to a number of different technologies, processes, and methods. It is attached to many operations and has many applications related to engineering, planning, management, transport/logistics, insurance, telecommunications, and business. For that reason, GIS and location intelligence applications can be the foundation for many location-enabled services that rely on analysis, visualization and dissemination of results for collaborative decision making.</p>

		<p>The current trend for <b>geographical</b> information system (GIS) is that accurate mapping and data analysis are completed while in the field.</p>

				<img class="img-responsive" src="/assets/static_service_gis.jpg" alt="GIS">

    					</div>
					</div>

  				</div>
  			</div>
  	</div>
		
  </body>

  </html>
