<!DOCTYPE html>
<html>

<head>
  <title>Moblie App Development Company |  Business  Apps Developer - Praves Technologies</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link rel="icon" type="image/ico" href="/assets/favicon.ico">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Our professional mobile apps developers build a custom mobile application for  your business. Contact Us  today for free quote and discount.">
    <meta name="author" content="Praves technologies">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/icomoon.css">
    <link href="/assets/animate-custom.css" rel="stylesheet">
    <link href="/assets/contact.css" rel="stylesheet">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>    
    <script src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/modernizr.custom.js"></script>
</head>
<body>

<div class="navbar navbar-fixed-top" style="height:100px; background:#DDD7D7;">
  <div>
 <a href = "/" class = "header_logo pull-left"><%= image_tag("logo.png",size:"283x100", alt: "logo") %></a>
</div>
  <div style="margin-left: 1055px; padding-top:0.3cm;">
                  <a href="/" class="btn btn-primary active">Home</a>
  </div>
</div>
<%= yield %>

    
    <div id="footerwrap">
      <div class="container">
        <h4> <a href="/">Praves Technologies Ltd.</a> - Copyright &copy; 2014</h4>
      </div>
    </div>
    
</body>
</html>
